@import url(/static/bootstrap.css);

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 14px;
}

label + label {
    margin-top: 20px;
}



textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
  resize: none;
}

input[type=submit] {
  font-size: 24px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
	display: block;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333;  
	margin-bottom: 5px;
}

.post-date {
    font-size: 12px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;
}

.post-date-link {
    font-size: 12px;
    position: relative;
    text-decoration: none;
    right: 0px;
    bottom: 0px;
    color: #999;
}

.post-content {
    margin-top: 5px;
}

.age {
    bottom: 0px;
    right: 0px;
    color: gray;
    font-size: 12px;
}

.login {
    font-size: 12px;
    position: relative;
    right: 0px;
    bottom: 0px;
    color: #333;
    text-decoration: none;
}

.login-link {
    color: #333;
    text-decoration: none;
}

.edit {
    display: inline;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: gray;  
}

.user_posts {
    display: inline;
    position: relative;
    font-size: 12px;
    right: 0px;
    bottom: 0px;
    font-weight: bold;
    text-decoration: none;
    color: gray;  
}

.socials {  
padding: 10px;  
}  