<!DOCTYPE html>

<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <title>Signup</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
	  body {
        padding-top: 60px;
      }
    </style>
	<meta charset="utf-8">
	<meta name="description" content="Project 116 Beta">
	<meta name="author" content="Alvin Tien">
	<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/static/jquery-1.7.2.min.js"><\/script>')</script>
	<!-- Bootstrap jQuery plugins compiled and minified -->
	<script src="/static/bootstrap.min.js"></script>
	<script src="/static/bootstrap-dropdown.js"></script>
  </head>

  <body>
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Project 116 Beta</a>
          <ul class="nav">
            <li class="active"><a href="/"><i class="icon-home icon-white"></i> Home</a></li>
			<li><a href="/newpost"><i class="icon-pencil icon-white"></i> New Post</a></li>
		  </ul>
		  <ul class="nav pull-right">
			{% if user %}
			  <li class="dropdown" id="accountmenu">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<i class="icon-user icon-white"></i>
				  {{user}}
				  <b class="caret"></b>
				</a>
				<ul class="dropdown-menu"> 
					<li><a href="/user/{{username.key().id()}}">My Profile</a></li>  
                    <li><a href="/user/{{username.key().id()}}/posts">My Posts</a></li>  
                    <li><a href="/user/{{username.key().id()}}/comments">My Comments</a></li>
					<li class="divider"></li> 
                    <li><a href="/logout">Log out</a></li> 
				</ul>
			  </li>
			{% else %}
				<li><a href="/login">Login</a></li>
				<li><a href="/signup">Signup</a></li>
			{% endif %}
          </ul>
        </div>
      </div>
    </div>
	
    <h2>Signup</h2>
    <form method="post">

      <table>
        <tr>
          <td>
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
          <td class="error">
            {{error_username}}
          </td>
        </tr>

        <tr>
          <td>
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class = "error">
            {{error_password}}
          </td>
        </tr>

        <tr>
          <td>
            Verify Password
          </td>
          <td>
            <input type="password" name="verify" value="">
          </td>
          <td class="error">
			{{error_verify}}
          </td>
        </tr>

        <tr>
          <td>
            Email (optional)
          </td>
          <td>
            <input type="text" name="email" value="{{email}}">
          </td>
          <td class = "error">
			{{error_email}}
          </td>
        </tr>
	<tr>
  	  <td colspan="2" class="error">
    		{{ captcha_msg }}
  	  </td>
	</tr>
      </table>


<script type="text/javascript"
     src="http://www.google.com/recaptcha/api/challenge?k=6LeuvNUSAAAAAL_Z42k278h90Wx-urRR-oXG3Dzb">
  </script>
  <noscript>
     <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LeuvNUSAAAAAL_Z42k278h90Wx-urRR-oXG3Dzb"
         height="300" width="500" frameborder="0"></iframe><br>
     <textarea name="recaptcha_challenge_field" rows="3" cols="40">
     </textarea>
     <input type="hidden" name="recaptcha_response_field"
         value="manual_challenge">
  </noscript>

      <button type="submit" class="btn"><font size = "4">Submit</font></button>
    </form>
  </body>

</html>
