<!DOCTYPE html>
<html>
    <head>
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
	<style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
	<meta charset="utf-8">
        <title>
            Posts by {{username.username}}
        </title>
		<meta name="description" content="Project 116 Beta">
		<meta name="author" content="Alvin Tien">
		<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/static/jquery-1.7.2.min.js"><\/script>')</script>
		<!-- Bootstrap jQuery plugins compiled and minified -->
		<script src="/static/bootstrap.min.js"></script>
		<script src="/static/bootstrap-dropdown.js"></script>
    </head>


    <body>
	
		<!-- Facebook like button-->
	<div id="fb-root"></div>  
		<script>(function(d, s, id) {  
		  var js, fjs = d.getElementsByTagName(s)[0];  
		  if (d.getElementById(id)) return;  
		  js = d.createElement(s); js.id = id;  
		  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";  
		  fjs.parentNode.insertBefore(js, fjs);  
		}(document, 'script', 'facebook-jssdk'));</script> 
		
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Project 116 Beta</a>
          <ul class="nav">
            <li class="active"><a href="/"><i class="icon-home icon-white"></i> Home</a></li>
			<li><a href="/newpost"><i class="icon-pencil icon-white"></i> New Post</a></li>
		  </ul>
		  <ul class="nav pull-right">
			{% if user %}
			  <li class="dropdown" id="accountmenu">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<i class="icon-user icon-white"></i>
				  {{user}}
				  <b class="caret"></b>
				</a>
				<ul class="dropdown-menu"> 
					<li><a href="/user/{{username.key().id()}}">My Profile</a></li>  
                    <li><a href="/user/{{username.key().id()}}/posts">My Posts</a></li>  
                    <li><a href="/user/{{username.key().id()}}/comments">My Comments</a></li>
					<li class="divider"></li> 
                    <li><a href="/logout">Log out</a></li> 
				</ul>
			  </li>
			  
			   <li class="dropdown">  
					<a href="#"  
						  class="dropdown-toggle"  
						  data-toggle="dropdown"> 
							<i class="icon-share icon-white"></i>						  
						  Social  
						  <b class="caret"></b>  
					</a>  
					<ul class="dropdown-menu">  
					 <li class="socials">
						<!-- Place this tag where you want the +1 button to render. -->
						<div class="g-plusone" data-annotation="inline" data-width="150" data-href="http://project-116.appspot.com"></div>
					</li>  
				  <li class="socials"><div class="fb-like" data-send="false" data-href="http://project-116.appspot.com" data-width="150" data-show-faces="false"></div></li>  
				  <li class="socials">
				  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://project-116.appspot.com" data-via="AlvinTien8">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				  </li> 
				  <li class = "socials">
				  <script type="text/javascript">reddit_newwindow='1'</script>
					<script type="text/javascript" src="http://www.reddit.com/static/button/button1.js"></script>
				  </li>
					</ul>  
				</li>  
				
			{% else %}
				<li><a href="/login">Login</a></li>
				<li><a href="/signup">Signup</a></li>
			{% endif %}
          </ul>
        </div>
      </div>
    </div>
	
	<ul class="nav nav-tabs">
	  <li><a href="/user/{{username.key().id()}}"> {{username.username}}</a></li>
	  <li><a href="/user/{{username.key().id()}}">Profile</a> </li>
	  <li class = "active"><a href="/user/{{username.key().id()}}/posts">Posted</a></li>
	  <li><a href="/user/{{username.key().id()}}/comments">Comments</a></li>
	</ul>
	
{% if entries!=[] %}
    <div id = "content">
    {% for entry in entries %}
	<div class="post">
  		<div class="post-heading">
    			<div class="post-title">
      				<a href="/{{entry.key().id()}}" class = "post-title">{{entry.subject}}</a>
    			</div>
			<div class="post-date">
      				Submitted by <a href="/user/{{entry.author_id}}" class = "login-link">{{entry.author}}</a> on {{entry.created.strftime("%b %d, %Y")}}
    			</div>


		</div>

		<div class="post-content">
    			{{entry.content | safe}}
 	 	</div>
	</div>

    {% endfor %}
    </div>
{% else %}
  <div class = "error">
There doesn't seem to be anything here.
</div>
{% endif %}

	<footer> 
		<div class = "age" align = "right"> {{age}} </div>
	</footer>
	
		<!-- Place this tag after the last +1 button tag. -->
	<script type="text/javascript">
	  (function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/plusone.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
  </body>
</html>